<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <clear/>
    <add name="Default" connectionString="Data Source=JK-HP;Initial Catalog=EVENT_SOCIAL_NETWORK;Persist Security Info=True;User ID=sa;Password=12345678"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <!--Mail-->
    <add key="ESN::Mail::SiteMail" value="hehekakaka@gmail.com"/>
    <add key="ESN::Mail::SmtpHost" value="smtp.gmail.com"/>
    <add key="ESN::Mail::SmtpPort" value="587"/>
    <add key="ESN::Mail::SmtpEnableSsl" value="true"/>
    <add key="ESN::Mail::SmtRequireAuthentication" value="true"/>
    <add key="ESN::Mail::SmtpUsername" value="hehekakaka@gmail.com"/>
    <add key="ESN::Mail::SmtpPassword" value="haiholeo"/>
    <add key="ESN::Mail::TemplateFileDirectory" value="~/_assets/mail/"/>
    <add key="ESN::Mail::ChangePasswordTemplate" value="change_password.html"/>
  </appSettings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
